<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="battle.css">
    <title>Document</title>
</head>

<body>
   
   {{{body}}}
<footer>

</footer> 

<script src="/assets/bootstrap/js/bootstrap.min.js?h=79ff9637b74326c362fb6f7f5801a7ba"></script>
<script src="/assets/js/bs-init.js?h=f85385df9bc7fca4241bc1dbf53b9d61"></script>   
</body>

</html>