<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="battle.css">
    <link rel="stylesheet" href="startScreen.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=3f30c2c47d7d23c7a994db0c862d45a5">
    <link rel="stylesheet" href="/assets/css/Aguafina%20Script.css?h=b5da5d8f7f11aaee2597772156306fc7">
    <link rel="stylesheet" href="/assets/css/Almarai.css?h=4fa4ecc9904d540297c9691d504819c8">
    <link rel="stylesheet" href="/assets/css/Amita.css?h=28442726ba2716f4c416e5eb0662987d">
    <link rel="stylesheet" href="/assets/css/Calligraffitti.css?h=5d34bffc7d34c2d78d8d58ad566915c2">
    <link rel="stylesheet" href="/assets/css/Charmonman.css?h=08790d6496307d864edf31695c3b091e">
    <link rel="stylesheet" href="/assets/css/Courgette.css?h=97591c5c969ca830a9859e67e4afe13c">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-Dark-icons.css?h=3f8fe3ed61628eb4bda76aca0b3052d3">
    <link rel="stylesheet" href="/assets/css/styles.css?h=d76e6171ffc4a81c89d8967686170ef8">
    <link rel="stylesheet" href="/assets/css/Team-images.css?h=4f3cfa46e40e236365345fc77963f4b8">
    <link rel="stylesheet" href="/sprites/background2.png">
    <title>Document</title>
</head>
<body>
    {{{ body }}}
</body>

</html>