<div class="background">
</div>
<div class="container">
    <p class="dialogue">What will you do next?</p>
</div>
<div class="character1">
</div>
<div class="character2">
</div>
<div class="user-hp-container">
    <p>HP:</p>
    <div class="user-hp-bar"><span id="user-hp">150</span>/<span id="user-max-hp">150</span></div>
</div>
<div class="enemy-hp-container">
    <p>HP:</p>
    <div class="enemy-hp-bar"><span id="enemy-hp">100</span>/<span id="enemy-max-hp">100</span></div>
</div>
<div class="move-container">
    <div class="moves">
        <button class="move-1 move" id="user-button-1">
            <p class="attack" id="attack-1">Mash</p>
            <p class="description" id="description-1">User mashes the opponent with average damage.</p>
        </button>
        <button class="move-2 move" id="user-button-2">
            <p class="attack" id="attack-2">Stab</p>
            <p class="description" id="description-2">User stabs the opponent. This hits 2-5 times.</p>
        </button>
        <button class="move-3 move" id="user-button-3">
            <p class="attack" id="attack-3">Stone Armor</p>
            <p class="description" id="description-3">Sharply increases the user's defense.</p>
        </button>
        <button class="move-4 move" id="user-button-4">
            <p class="attack" id="attack-4">Heal</p>
            <p class="description" id="description-4">Increases HP by 35.</p></div>
        </button>
    </div>
</div>
<script src="/js/checks.js" type="module"></script>
<script src="/js/buff.js" type="module"></script>
<script src="/js/attack.js" type="module"></script>
<script src="/js/attack_variables.js" type="module"></script>
<script src="/js/engine.js" type="module"></script>
