    <div class="wrapper">
        <div class="character">
            <img src="../sprites/dwarf-model.png" alt="" width="100px" height="100px">
            <div class="hp-bar" id="hp-1"><span id="current">{{ classes.[0].hp }}</span>/<span id="total">{{ classes.[0].max_hp }}</span></div>
            <button id="mash">Mash</button>
        </div>
        <div class="character">
            <img src="../sprites/enemy1.png" alt="" width="100px" height="100px">
            <div class="hp-bar" id="hp-2"><span id="current">100</span>/<span id="total">100</span></div>
            <button id="em1">Cry</button>
        </div>
    </div>
