<header>
    <div class="hero"></div>
</header>
<main>
    <div class="form-container">
         <h1>Save the Princess Simulator</h1>
        <div class="login-container">
            <form>
                <h2 id="login-title">Login</h2>
                <label for="email">Email:</label>
                <input id="email-login" type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input id="password-login" type="password" id="password" name="password" required>
                
                <input type="submit" value="Login">
            </form>
        </div>
            <div class="login-container">
            <form>
                <h2 id="signup-title">Sign-Up</h2>
                <label for="email">Email:</label>
                <input id="email-signup" type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input id="password-signup" type="password" id="password" name="password" required>
                
                <input type="submit" value="Sigh Up">
            </form>
        </div>
    </div>
    <div id="dog-1"></div>
    <div id="dog-2"></div>
    <div id="dog-3"></div>
</main>
<footer class="hero">
</footer>