<body>
       <canvas id="myCanvas" width="480" height="320"></canvas>
    <card id="Desc"></card>
    <button class="select-button" id="start">START</button>
    <button class="select-button" id="dwarfSelect"><a href='/battle'>START</a></button>
    <button class="select-button" id="magicianSelect"><a href='/battle'>START</a></button>
    <button class="select-button" id="elfSelect"><a href='/battle'>START</a></button>
    <script class="select-button" src="/js/startScreen.js"></script>
    <script src="/js/char-render.js/"></script>
  </body>