html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.background{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../sprites/RK6Tqo.png');
    background-size: cover;
    background-position: center;
    border: 1px solid #111;
}

.container{
    position: absolute;
    width: 600px;
    height: 100px;
    border: 1px solid #111;
    left: 38.5vw;
    top: 5vh;
    background-color: rgb(115, 148, 240);
    border: 2px solid #565656;
    border-radius: 8px;
}

.character1{
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 300px;
    left: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.character2{
    position: absolute;
    height: 200px;
    width: 200px;
    right: 150px;
    bottom: 300px;
    background-image: url("/sprites/enemy1.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.user-hp-container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 260px;
    left: 140px;
    width: 200px;
}

.user-hp-bar{
    width: 150px;
    height: 20px;
    border-radius: 8px;
    border: 2px solid #565656;
    background-color: greenyellow;
    margin-left: 3px;
    text-align: right;
    padding-right: 7px;
}

.enemy-hp-bar{
    width: 150px;
    height: 20px;
    border-radius: 8px;
    border: 2px solid #565656;
    background-color: greenyellow;
    margin-left: 3px;
    text-align: right;
    padding-right: 7px;
}
.enemy-hp-container{
    display: flex;
    align-items: center;
    position: absolute;
    width: 200px;
    bottom: 260px;
    right: 150px;
}

.moves{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 200px;
    bottom: 10vh;
    right: 28vw;
    justify-content: space-between;
}

.move{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #565656;
    border-radius: 8px;
    width: 49%;
    height: 50%;
    margin-top: 8px;
    background-color: rgb(115, 148, 240)
};

.move-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.description, .attack{
    width: 100%;
    text-align: center;
}

.move:hover{
    cursor: pointer;
    background-color: rgb(153, 174, 230)   
}

.dialogue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.reset {
    position: absolute;
    display: none;
    bottom: 150px;
    left: 600px;
    width: 700px;
    height: 200px;
}

.reset-button{
    background-color: rgb(115, 148, 240);
    width: 49%;
    height: 50%;
    border: 2px solid #565656;
    border-radius: 8px;
 
}

.reset-button:hover{
    cursor: pointer;
    background-color: rgb(153, 174, 230) 
}

.char-select-background{
    position: absolute;
    height: 101%;
    width: 101%;
    z-index: 1;
    background-color: #111;
}

.fighter-select{
    position: absolute;
    color: #fff;
    font-size: 4vh;
    top: 20vh;
    left: 36vw;
    z-index: 2;

}

.dwarf-button{
    position: absolute;
    top: 40vh;
    left: 35vw;
    background-color: #c82222;
    background-image: url('/sprites/dwarf-model.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #111;
    border-radius: 50px;
    width: 100px;
    height: 200px;
    z-index: 2;
}

.dwarf-button:hover{
    cursor: pointer;
    background-color: #c24343;
    transform: scale(1.3, 1.3)
}

.wizard-button1{
    position: absolute;
    top: 40vh;
    left: 48.5vw;
    background-color: rgb(221, 236, 16);
    background-image: url('/sprites/wizard-model.png');
    background-position: -30px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #111;
    border-radius: 50px;
    width: 100px;
    height: 200px;
    z-index: 2;
}

.wizard-button1:hover{
    cursor: pointer;
    background-color: rgb(211, 218, 117);
    transform: scale(1.3, 1.3)
}

.elf-button2{
    position: absolute;
    top: 40vh;
    left: 62vw;
    background-color: rgb(18, 52, 204);
    background-image: url('/sprites/elf-model.png');
    background-position: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #111;
    border-radius: 50px;
    width: 100px;
    height: 200px;
    z-index: 2;
}

.elf-button2:hover{
    cursor: pointer;
    background-color: rgb(75, 99, 204);
    transform: scale(1.3, 1.3)
}

